<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>872282508537-lpf7h7a4c5ph2e9fkglg4t16515rgjju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872282508537-lpf7h7a4c5ph2e9fkglg4t16515rgjju</string>
	<key>API_KEY</key>
	<string>AIzaSyBoaUUasHCJ6Xmad9SlsCH4CZ5WIsyB6u0</string>
	<key>GCM_SENDER_ID</key>
	<string>872282508537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.concodigo.flutterFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-429dd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-429dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872282508537:ios:0176797470551199</string>
	<key>DATABASE_URL</key>
	<string>https://flutterapp-429dd.firebaseio.com</string>
</dict>
</plist>