<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>
  </head>
  <body>
    <div id="app">
      <ul>
        <!-- <li v-for="item in items">{{item}}</li> -->
        <!-- <li v-for="(value, key, index) in items">{{ value }} {{ key }} {{ index }}</li> -->
        <li v-for="item in items" :key="index">{{ item.name }}</li>
      </ul>
    </div>

    <script src="../vue.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          // items: [1, 2, 34, 5, 67]
          // items: { name: 'Cody',age: 7 }
          items: [
            { name: 'Hello' },
            { name: 'Dos' },
            { name: 'Hola' }
          ]
        }
      });
    </script>
  </body>
</html>